# rename it to .env
# place your api key here, (get it from google ai studio )
GEMINI_API_KEY = your-api-key-here

# app tweaks (change only if you know abt it.)
MAX_RETRIES = 3
REQUEST_TIMEOUT = 60 
CONCURRENCY_LIMIT = 15
